<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Dear <%= @contact_name %>
    <p>
     I am very interested in the <%=@position %> position at <%=@company %>.
    </p>
    I have no doubt that my 2+ years of experience as a freelance web developer will 
    translate well to the work at <%= @company %>. For more information about my 
    past experience and qualifications please see my attached resume and cover letter. 
    <br>
    <br>
    Sinercely,<br>
    Julian Compagni Portis<br>
    415.710.1111<br>
    <a href="www.juliancompagniportis.com">juliancompagniportis.com</a>
  </body>
</html>