<div style = "margin: 0 auto; width: 300; text-align:center">
  Julian Compagni Portis</br>
  825 Battery St</br>
  San Francisco, CA 94111</br>
  415.710.1111</br>
  jcompagni@gmail.com</br>
</div>
<br>
<%=Date.today.strftime("%B %d, %Y")%> </br></br>
Dear <%= app.contact_name %>,
</br>
<p>
  For the last two years I have split my time between woking as a cook and doing freelance web development. While I still love to cook, I have discovered that my true passion lies in solving complex coding problems. I get an immense amount of satisfaction from using technology to solve a particular problem --be it creating the ideal user experience or writing a task specific algorithm. As a freelance web developer I frame my work as providing a unique solution for each client's business needs. I have found that in addition to hard work and determination, the key to tackling a given issue is having the right set of tools. Over the last 5 years I have honed my abilities as a full stack web developer. When it comes to serverside development I have experience in PHP, Ruby and SQL. I have also worked extensively with javascript, both on its own and in conjuction with front end libaries like React, Redux and Vue.js. 
</p>
<p>
  Most recently I have made use of these skills while building a coding challenge website that allowed users to compete in timed coding tasks. In order to handle user authentication and to track user progress across multiple levels I built a Rails backend with a PostgreSQL database. At the crux of the project was a custom code evaluation system; for this purpose I made use of an AWS Lamda to safely evaluate and test user written code. Finally, I coupled all of this with React/Redux on the front end to provide a fluid and engaging user experience. 
</p>
  While I have thoroughly enjoyed my work as a freelance webdeveloper, I am excited to transition to a roll where I can solve even bigger problems along with a team of equally passionate developers. While I am highly motivated and task driven as a solo developer, I think I am at my most productive when I can work collaboratively with a team. 
</p>
<p>
  Ultimately, I think my specific skills, coupled with my ability to work quickly, adeptness at managing complex projects and deadlines and ongoing passion for new knowledge and growth make me a strong candidate for the <%= app.position %> position at <%= app.company %>. 
</p>
</br>
Thanks so much for your consideration, 
</br>
</br>
</br>
Sincerely,</br>
</br>
Julian Compagni Portis

